DaanForestPark-20200403T141012Z-001.zip
data
kaggle
label2.csv
label.csv
mdfmt
mydump
new_trainval.csv
output
pytorch-summary
README.md
requirements.txt
resNet18_79dump
runs
sample
shuffleNet_77dump
trainval.csv
yarn.lock
train.ipynb
